{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {'decimal', ".*", {git, "git://github.com/tim/erlang-decimal.git", "master"}},
    {'jiffy', ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
    {'datestring', ".*", {git, "git://github.com/strange/datestring.git", "master"}} 
]}.
